*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(97,97,97);
    background: linear-gradient(0deg, rgba(97,97,97,1) 0%, rgba(156,156,156,1) 0%, rgba(255,255,255,1) 56%);
}

.page {
    display: none;
}

.show {
    display: block;
}


/* partie login */

#login {
    width: 350px;
}

#login img {
    width: 60px;
    height: 60px;
}

#login button {
    width: 100%;
}

/*partie navigation*/

#homepage {
    width: 100%;
    height: 80px;
}

#homepage nav {
    height: 100%;
}

#homepage ul {
    height: 100%;
}

.homeimg {
    width: 60px;
    height: 60px;
}

#homepage li {
    height: 100%;
}

#homepage li:hover {
    background-color: #4e4e4e;
}